# 301 Redirects to preserve search equity
Redirect 301 /rw /redwood-city-preschool-center
Redirect 301 /rw/ /redwood-city-preschool-center
Redirect 301 /homedaycare /san-mateo-preschool-daycare
Redirect 301 /homedaycare/ /san-mateo-preschool-daycare
