---
import SEO from '../components/SEO.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
	article?: boolean;
}

const { title, description, image, article } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO 
			title={title} 
			description={description} 
			image={image}
			article={article}
		/>
		
		<slot name="head" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BE43SM2H4T"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-BE43SM2H4T');
        </script>

        <!-- Calendly badge widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" async defer is:inline></script>
        <script is:inline>
            window.onload = function () {
                Calendly.initBadgeWidget({
                    url: 'https://calendly.com/mary-kubo',
                    text: 'Click to Schedule a Tour',
                    color: '#0069ff',
                    textColor: '#ffffff',
                    branding: true
                });
            }
        </script>
	</head>
	<body class="font-sans text-gray-700 antialiased">
		<slot />
	</body>
</html>

<style is:global>
    /* Global styles if needed, though Tailwind covers most */
    h1, h2, h3, h4, h5, h6 { font-family: 'Playfair Display', serif; }
    body {
        font-family: 'Lato', sans-serif;
    }
</style>
